* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #161623;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration-color: none;
  text-decoration: none;
  color: inherit;
} 
a:hover, a:focus, a:visited, a:link, a:active {
text-decoration: none;
}

.Container__page {
  color: #aeaece;
  padding: 60px 100px;
  gap: 20px;
}

.Container__page ul {
  display: flex;
  flex-direction: column;
  line-height: 60px;
  cursor: pointer;
}

.Material {
  gap: 0;
  background-color:#aeaece;
  border-radius: 4px;
  color:  #161623;
  padding: 20px;
}

.Material  .line {
  border-bottom: 1px solid #161623;
}